
<!-- <div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="Search With Email Address"  name="email" [(ngModel)]="id"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="getFeedbackByDoctor()">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div> -->

    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
          <h1 class="display-4">View feedbacks provided to you </h1><br>
         
        </div>
      </div>            
    <br><br>
    <div class="container-fluid">
    <table class="table table-striped">
        <thead>
      <tr>
        <th>feedbackComment</th>
        <th>doctor name</th>
        <th>patient name</th>
        <th>rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of feedlist">
        <td>{{item.feedbackComment}}</td>
        <td>{{item.doctorId.doctorName}}</td>
        <td>{{item.patientId.patientName}}</td>
        <td>{{item.rating}}</td>
      </tr>
    </tbody>
    </table>
  </div>