

   
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <h1 class="display-4">ALL DOCTORS</h1><br>
     
    </div>
  </div>
 
   <!-- <div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="Search With speciality"  name="speciality" [(ngModel)]="speciality"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="findAvailibilityDatesBySpeciality()">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div>  -->


  <!-- <ul>
<li *ngFor="let item of doctors">
      {{item.userId}}---{{item.userName}}--{{item.emailID}}--{{item.password}}--{{item.role}}--{{item.LoggedIn}}    
     {{item.doctorId}}---{{item.doctorName}}--{{item.speciality}}--{{item.location}}--{{item.hospitalName}}--{{item.mobileNo}}--{{item.chargesPerVisit}}
  
</li>
</ul>   -->

  <table class="table table-striped">
    <thead>
  <tr>
    <th>availability id</th>
    <th>doctor id</th>
    <th>doctor name</th>
    <th>speciality</th>
    <th>location</th>
    <th>hospital name</th>
    <th>mobile no</th>
    <th>charges per visit</th>
    <th>from date</th>
    <th>end date</th>
     <th>delete</th> 
  </tr>
</thead>
<tbody>
  <tr *ngFor="let item of dates">
    <td>{{item.availibityId}}</td>
    <td>{{item.doctor.doctorId}}</td>
    <td>{{item.doctor.doctorName}}</td>
    <td>{{item.doctor.speciality}}</td>
    <td>{{item.doctor.location}}</td>
    <td>{{item.doctor.hospitalName}}</td>
    <td>{{item.doctor.mobileNo}}</td>
    <td>{{item.doctor.chargesPerVisit}}</td>
    <td>{{item.fromDate}}</td>
    <td>{{item.endDate}}</td>
    - <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteDatesById(item.availibityId)"><span class="glyphicon glyphicon-remove"></span>Delete</button></td>
     
    <td></td>
  </tr>
</tbody>
</table> 

 

 
  
