<form autocomplete="off" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="email" name="emailID" class="form-control" placeholder="Email ID (e.g. john@yahoo.com)" formControlName="emailID" [ngClass]="{'is-invalid':forgotForm.get('emailID')?.touched && forgotForm.get('emailID')?.invalid}">
        <div *ngIf="forgotForm.controls.emailID.touched && forgotForm.controls.emailID.invalid">
            <small class="text-danger" *ngIf="forgotForm.controls.emailID.errors?.required">Email ID is required!</small>
        </div>
    </div>
    <div class="form-group">
        <input type="password" name="newPass" class="form-control" placeholder="Password (e.g. Jkoigh#@12345)" formControlName="newPass" [ngClass]="{'is-invalid':forgotForm.get('newPass')?.touched && forgotForm.get('newPass')?.invalid}">
        <div *ngIf="(forgotForm.controls.newPass.touched && forgotForm.controls.newPass.invalid)">
            <small class="text-danger" *ngIf="forgotForm.controls.newPass.errors?.required">Password is required!</small>
            <small class="text-danger" *ngIf="forgotForm.controls.newPass.errors?.pattern">Password must contains Capital, Small Letters, Number and Special Character without any space</small>
        </div>
    </div>
    <div class="form-group">
        <input type="password" name="confirmPass" class="form-control" placeholder="Confirm Password (e.g. Jkoigh#@12345)" formControlName="confirmPass" [ngClass]="{'is-invalid':forgotForm.get('confirmPass')?.touched && forgotForm.get('confirmPass')?.invalid}">
        <div *ngIf="(forgotForm.controls.confirmPass.touched && forgotForm.controls.confirmPass.invalid)">
            <small class="text-danger" *ngIf="forgotForm.controls.confirmPass.errors?.required">Password is required!</small>
            <small class="text-danger" *ngIf="forgotForm.controls.confirmPass.errors?.pattern">Password must contains Capital, Small Letters, Number and Special Character without any space</small>
        </div>
    </div>
    <button class="card-link" [disabled]="!forgotForm.valid">Update Password</button>
</form>
